.template-tooltip {
	position: fixed;
	z-index: 9999;
}

.template-tooltip:before {
	position: absolute;
	display: block;
	content: "";
	width: calc(100% + 30px);
	height: calc(100% + 30px);
	left: -10px;
	top: -10px;
}

.template-tooltip .template-tooltip_inner {
	position: relative;
	padding: 5px 9px;
	z-index: 1;
	background: #FFF5CF;
	color: #121212;
	border-radius: 5px;
	min-width: 150px;
	max-width: 768px;
}

.template-tooltip.show .template-tooltip_inner {
	opacity: 1;
	visibility: visible;
}

.template-tooltip .template-tooltip_inner .template-tooltip_arrow {
	height: 16px;
	width: 16px;
	color: #FFF5CF;
	position: absolute;
	top: calc(100% - 16px);
}

.template-tooltip .template-tooltip_inner .template-tooltip_arrow:before {
	border-color: transparent;
	border-style: solid;
	content: "";
	position: absolute;
	display: block;
}

.template-tooltip[data-placement-y=top] .template-tooltip_inner .template-tooltip_arrow:before {
	bottom: -10px;
	border-width: 10px 10px 0;
	border-top-color: initial;
	transform-origin: center top;
}

.template-tooltip[data-placement-y=bottom] .template-tooltip_inner .template-tooltip_arrow {
	top: unset;
	bottom: calc(100% - 16px);
}

.template-tooltip[data-placement-y=bottom] .template-tooltip_inner .template-tooltip_arrow:before {
	top: -10px;
	border-width: 0 10px 10px;
	border-bottom-color: initial;
	transform-origin: center bottom;
}

.template-tooltip[data-placement-x=right] .template-tooltip_inner .template-tooltip_arrow {
	right: 16px;
}